extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new") Add New Message

  .message-board
    .messages
      each message in messages
        .message 
          div #{message.text}
          div #{message.user}
          div #{message.added}